

// Mobile device //


@media only screen and (max-width:766px)
{









    .menu-btn
    {
        display: block;
    }

    .navbar
    {
        padding: 0;
        z-index: 1;




        .nav-links li 
        {
            margin: 30px auto;
            text-transform: uppercase;
    
        }
    
    

    .logo
    {
        position: absolute;
        width: 35px;
        top: 30px;
        left: 30px;
    }

    .nav-links
    {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-image: url(../img/bgWine.png);
        border-radius: 3px;
        background-size: cover;
        margin-top: -900px;
        transition: all 0.5s ease;
    }

    .mobile-menu
    {
        margin-top: 0;
        border-bottom-right-radius: 30%;

    }



}



/* Events */

.row
{
    flex-direction: column;
}

.row .col 
{
    margin: 20px auto;


    h4 
    {
        font-size: 6vmin;
    }
    


    p 
    {
        font-size: 5vmin;
    }
}

.col img 
{
    max-width: 90%;



}



.explore-content
{
    width: 100%;


}

.tours .col
{
    width: 100%;
}

.image-gallery
{
    justify-content: center;
    align-items: center;


    img 
    {
        width: 90%;
    }
}

.title
{
    font-size: 6vmin;
    font-weight: 200;




}







}

