 
@import "partials/variables";
@import "partials/mixins";
@import "partials/menu";
@import "partials/functions";
@import "partials/mobile";


// font-family: 'Great Vibes', cursive;
// font-family: 'Smythe';



@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body
{
    overflow-x: hidden;

}







a
{
    text-decoration: none;
}

ul
{
    list-style: none;
}

.active
{
    color: $line-color ;
    font-weight: bold;
}



// NAVBAR //

.navbar
{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
}
.nav-links
{
    display: flex;
    align-items: center;
}
.nav-links li
{
    margin: 0 80px;
    text-transform: uppercase;
    font-family: $font-2;
    font-size: 2.4vmin;
    letter-spacing: 4px;


    

}
.logo
{
    font-family: $font-1;
    font-size: 6vmin;
    font-weight: 200;
    // transform: scaleY(1.5);

}





header
{
    padding: 20vw 0 5vw;
    width: 100vw;
    min-height: 100vh;
    transform-style: inherit;
    background-image: url(./img/bg7.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}




















.header-content
{
    margin-bottom: 80px;
    color: #fff;
    text-align: center;




  
}

.header-content h2
{
    font-size: 13vmin;
    font-family: $font-1;
    color: $text-color;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: $line-color 3px 3px 0px;






    span 
    {
        display: inline-block;
        position: relative;  
    }

    
}
.header-content span::before, .header-content span::after
{
    content: "";
    position: absolute;
    height: 12px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    top: 55px;
    width: 500px;
}

.header-content span:before {
    right: 100%;
    margin-right: 10px;
    border-radius: 11%;
  }
  .header-content span:after {
    left: 100%;
    margin-left: 10px;
    border-radius: 11%;
  }




.header-content h3
{
    font-size: 8vmin;
    font-family: $font-1;
    color: $text-color;
    font-weight: 200;
    letter-spacing: 3px;

}

.line
{
    width: 250px;
    height: 4px;
    background: $line-color;
    margin: 10px auto;
    border-radius: 5px;

}

.header-content h1
{
    font-size: 9vmin;
    margin-top: 5px;
    margin-bottom: 30px;
    font-family: $font-2;
    color: $text-color;
    font-weight: 700;
    letter-spacing: 9px;
    word-spacing: 8px;
    text-transform: uppercase;
    padding: 5px;
    text-shadow: $line-color 3px 3px 0px;






}

.ctn 
{
    padding: 4px 10px;
    background: $line-color;
    border-radius: 10px;
    color: #fff;
}

.menu-btn
{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
}




// Events //

section
{
    width: 80%;
    margin: 100px auto;
}
.title
{
    text-align: center;
    font-size: 4vmin;
    font-family: $font-1;
    font-weight: 200;
    letter-spacing: 3px;













}

.row
{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    img 
    {
        box-shadow: $line-color 3px 3px 15px;

    }



}

.events .row
{
    margin-top: 50px;
}

h4
{
    font-size: 6vmin;
    margin: 20px auto;


}

p
{
    padding: 0 40px;
}

.row .col 
{
    display: flex;
    flex-direction: column;
    align-items: center;


}

.explore
{
    width: 100%;
    height: 100vh;
    background-image: url(./img/bg8.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;




}

.explore-content
{
    width: 60%;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;



    h1 
    {
        font-size: 7vmin;
        color: #fff;
        font-family: $font-1;
        text-shadow: $line-color 2px 2px 0px;


    }

    p
    {
        
        color: #fff;
        letter-spacing: 2px;
        word-spacing: 5px;
        font-size: 5vmin;
        font-family: $font-2;
        background: rgba($primary-color, $alpha: .3);
        border-radius: 5px;

    }


    .line
    {
        margin-bottom: 50px;
    }


}


.content-col
{
    width: 40%;



    h1 
    {
        font-size: 7vmin;
        font-family: $font-1;
    }


    p 
    {
        padding: 0;
        margin: 30px auto;
        letter-spacing: 2px;
        word-spacing: 5px;
        font-size: 4vmin;
        font-family: $font-2;


    


    }
}

.image-col
{
    width: 60%;


}


.tours .image-gallery
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.image-gallery img
{
    max-width: 250px;
    margin: 10px;
    box-shadow: $line-color 3px 3px 15px;

}


.footer
{
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: $line-color;
    color: #fff;



    p 
    {
        font-family: $font-2;
        font-size: 4vmin;
        text-align: center;
        letter-spacing: 2px;
        word-spacing: 5px;



    }





}






















